.footer {
    background-color: #f8f9fa;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    border-top: 1px solid #dee2e6;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 0 15px;
}

.footer-column h4 {
    margin-bottom: 20px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #6c757d;
    text-decoration: none;
    font-size: 16px;
}

.navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.1s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color:gold; 
}

.navbar-nav .nav-item .active {
    color: rgb(10, 228, 217); 
}

.navbar-nav .nav-item .nav-link:active {
    color: rgb(10, 228, 217); 
}

.footer-column form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.footer-column form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.footer-column form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-column form button:hover {
    background-color: #0056b3;
}

.footer-bottom {
    margin-top: 30px;    
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dee2e6;
    padding-top: 20px;
}

.footer-bottom p {
    margin-left: 20px;
    color: #6c757d;
}

.footer-bottom .social-icons {
    margin-right: 20px;
}

.footer-bottom .social-icons a {
    color: #6c757d;
    font-size: 20px;
    margin: 0 10px;
}

.footer-bottom .social-icons .insta:hover {
    color: #eb59f0;
}

.footer-bottom .social-icons .twit:hover {
    color: #82caeb;
}

.footer-bottom .social-icons a:hover {
    color: #007bff;
}

@media (max-width: 500px) {
    .social-icons {
        display: contents;
    }
}
