.nav_space{
    justify-content: space-around;
  }
  
  .bg_clr{
    background-color: #011e30;
  }
  
.logo_name{
    width: 450px;
    font-size: 30px;
}  

.navbar-dark .navbar-brand {
    color: gold;
}

.nav_elements{
    font-size: x-large;
}

.nav_elements li .nav_items .nav_link:hover{
    color: gold;
}

.acc_icon {
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
    margin-right: 20px;
    text-decoration: none;
}

.acc_icon:hover {
    color: gold;  
}

.cart_img {
    width: 65px;   
    height: 45px;
    transition: transform 0.3s ease-in-out; 
}

.cart_img:hover {
    transform: scale(1.1); 
    cursor: pointer;       
}


