
.new_arrival{
    margin-top: 5%;
    margin-left: 20%;
    font-family: auto;
}

.line{
    margin-top: 1%;
    margin-left: 20%;
    width: 60%;
    border: 1px solid black;
}

.margin{
    margin-top: 5%;
}

