.view-cart-container {
    padding: 20px;
    margin: 20px auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .view-cart-container h5 {
    padding: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .quantity-head{
    margin-left: 28rem;
  }
.price-head{
    margin-left: 14rem;
}
.size-head{
    margin-left: 12rem;
}

  .cart-items {
    margin-top: 20px;
  }
  .cart-head {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }

  .cart-head-details {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .cart-item-image {
    width: 60px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .cart-item-description {
    flex: 2;
    font-size: 16px;
    margin-right: 20px;
  }
  
  .cart-item-details {
    display: flex;
    justify-content: space-around;
    flex: 3;
  }
  
  .cart-item-details div {
    margin-right: 20px;
    text-align: center;
  }
  
  .remove-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #c82333;
  }
  
  .clear-cart-button {
    background-color: #dc3545;
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
  }
  
  .clear-cart-button:hover {
    background-color: #c82333;
  }
  
  .total-price {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .emptyCart {
    text-align: center;
    font-size: xx-large;
    color: #6c757d;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .cont-shop-button{
    background-color: #ffc107;
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto auto 20px;
    text-decoration: none;
  }

  .cont-shop-button:hover {
    background-color: #e0a800;
  }

  .cont-shopp-button{
    margin-left: 44%;
    background-color: #ffc107;
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }

  .cont-shopp-button:hover {
    background-color: #e0a800;
  }
  
  .checkout-button{
    background-color: #1dec20;
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto auto 20px;
    text-decoration: none;
  }

  .checkout-button:hover {
    background-color: #1dec20;
  }
  
  .cartEmpty{
    margin: 10% auto 10%;

  }